/* AdminNavbar.css */
nav {
    background-color: #5e0c07;
    padding: 10px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin-right: 20px;
  }
  
  li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  li a:hover {
    color: #ffcc00;
  }
  