/* pages/LoginSignup.css */
.login-container,
.signup-details-container {
  max-width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 50px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #5e0c07;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* LoginSignup.css */
.login-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 50px;
}

.button-container {
  margin-top: 20px;
  text-align: center;
}

.forgot-password {
  color: blue;
  cursor: pointer;
  margin-left: 10px;
}
